http_interactions:
- request:
    method: get
    uri: https://api.base-search.net/cgi-bin/BaseHttpSearchInterface.fcgi?func=ListRepositories&coll=ceu
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rbace/0.0.7.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<collection><collection_name>ceu</collection_name><list_repositories><repository><activation_date>2019-12-10</activation_date><name>EUDL
        European Union Digital Library</name><internal_name>fteudl</internal_name></repository><repository><activation_date>2019-12-10</activation_date><name>SURF
        Data Repository</name><internal_name>ftsurfsara</internal_name></repository><repository><activation_date>2019-12-10</activation_date><name>Zeitschrift
        für Parteienwissenschaften (E-Journal)</name><internal_name>ftjmip</internal_name></repository><repository><activation_date>2019-12-10</activation_date><name>Revista
        Portuguesa de Investigação Comportamental e Social (E-Jo[...]
