http_interactions:
- request:
    method: get
    uri: https://api.base-search.net/cgi-bin/BaseHttpSearchInterface.fcgi?func=PerformSearch&query=dccreator%3Amanghi&coll=it&boost=oa&facet_limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rbace/0.0.7.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <response>
        <lst name="responseHeader"><bool name="zkConnected">true</bool><int name="status">0</int><int name="QTime">10</int><lst name="params"><str name="q">creator:manghi</str><str name="fl">dccollection,dccontenttype,dccontinent,dccountry,dccreator,dcauthorid,dcdate,dcdescription,dcdocid,dcdoi,dcformat,dcidentifier,dclang,dclanguage,dclink,dcperson,dcpublisher,dcrights,dcsource,dcsubject,dctitle,dcyear,dctype,dcclasscode,dctypenorm,dcdeweyfull,dcdeweyhuns,dcdeweytens,dcdeweyones,dcautoclasscode,dcrelation,dccontributor,dccoverage,dchdate,dcoa,dcrightsnorm</str><str name="fq"> country:it -collection:ftpenamultimedia</str><str name="bq">oa:1^2</str></lst></lst><result name="response" numFound="4500" start="0" maxScore="6.2059293"><doc><date name="dchdate">2017-06-15T09:14:55Z</date><str name="dcdocid">af11266426e4e17db308dd11cb9f1a39557545ed43eeba87a5431d05a1fb47b9</str><str name="dccontinent">ceu</str><str name="dccountry">it</str><str name="dccollection">ftpuma</str><str name="dcprovider">PUMAlab (ISTI CNR - Consiglio Nazionale delle Ricerche / National Research Council)</str><str name="dctitle">DRIVER II - Information space report</str><arr name="dccreator"><str>Manghi, Paolo</str></arr><arr name="dcperson"><str>Manghi, Paolo</str></arr><arr name="dcsubject"><str>MDStore</str><str>Index</str><str>info:eu-repo/classification/acm/H.3.7 Digital Libraries</str></arr><str name="dcdescription">This deliverable introduces the notion of Service orchestration used in the DRIVER infrastructure to construct and maintain Information Spaces. More specifically, it illustrates how it is used to maintain the DRIVER Information Space of European Op[...]
